<div class="container">  
<h2><%= @user.first_name %><%= @user.last_name %></h2>

<%= simple_form_for @user, url: quiz_profile_path, method: :patch do |f| %> 
  <%= f.label "Quel est votre niveau ?" %>
  <%= f.input_field :level, collection: @levels_options, class: "form-control" %>
  <%= f.label "Quel est votre objectif ?" %>
  <%= f.input :targeted_distance, label: false, collection: @targeted_distance%>
  <%= simple_fields_for :other do |o| %>
    <%= o.label "Avez-vous déjà participé à une course ?" %>
    <%= o.input :already_run_in_official_run, label: false, as: :boolean %>
  <% end %>
  <%= f.submit "Create", :class =>"btn btn-primary" %>
  <% end %>
</div>

