<div class="main-container">
  <h1><%= current_user.first_name%> <%=current_user.last_name%> </h1>
  <div class="card-container">
    <div class="row text-center">
      <h2>Your Session</h2>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
          <div class="card">
            <div class="card-category"><%= @session.training_plan.name%></div>
            <div class="card-description">
              <h2><%= @session.description%></h2>
              <p><strong>position: <%= @session.position %></strong></p>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
