<div class="banner" style="background-image: linear-gradient(to right, rgba(10, 207, 254, 0.7) 0%, rgba(73, 90, 255, 0.7) 100%), url(<%= image_path 'quiz-run.jpg'%>);">
  <div class="container race-results">
    <div class="row text-center">
        <h2 style="color: white">Choisissez votre course</h2>
        <%= form_tag races_path, method: :get do %>
            <%= select_tag "department" , options_for_select(@departments_options) %>
            <%= submit_tag "RUN", :class => "btn" %>
          <%end%>
    </div>
    <div class="row">
      <% if params[:department].nil? %>
        <% races_to_display = @races %>
      <% else %>
        <% races_to_display = @races.where(department: params[:department].to_i) %>
      <% end %>

      <% if races_to_display.count.zero? %>
        <h3 style="color: white" class="text-center">Il n'y a pas de course correspondant à votre recherche.</h3>
      <% else %>
        <% races_to_display.each do |race| %>
          <%= link_to race_objectives_path([race, @objective]), method: :post  do %>
            <div class="col-xs-12 col-sm-4">
              <div class="card-race-results card-race-results-<%=race.distance%>">
                <div class="card-race-results-detail card-race-results-detail-<%=race.distance%>">
                  <h3><%=race.event_name  %></h3>
                  <h4><%=race.name%></h4>
                  <h4><%=race.price%></h4>
                </div>
                <p><%=race.distance%> m</p>
                <div class="overlay overlay-<%=race.distance%>">
                  <div class="text">
                    <p style="font-weight: bold">Sélectionner cette course</p>
                    <p style="font-size: 40px"><i class="far fa-hand-point-up"></i></p>
                  </div>
                </div>
              </div>
              <div class="card-date-result card-date-results-<%=race.distance%>">
                <div>
                  <h4 class="date-details"><%=race.date.day%></h4>
                  <h4 class="date-details"><%=race.date.strftime("%B").first(3)%></h4>
                  <h4 class="date-details"><%=race.date.year%></h4>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>



