<div class = "banner-index-races">
  <div class="text-center">
    <h1><%= @races_to_display.count %> courses correspondent à votre objectif</h1>
    <h2>Choisissez une région</h2>
    <%= render 'shared/map' %>
  </div>
</div>
<div class="container race-results" id="race-result" >
  <div class="row">
    <% if @races_to_display.count.zero? %>
      <% if params[:region].nil? %>
        <h3 class="text-center">Il n'y a pas de course correspondant à votre objectif. %></h3>
      <% else %>
        <h3 class="text-center">Il n'y a pas de course correspondant à votre objectif <%= @regions_full_name[params[:region]] %>.</h3>
      <% end %>
    <% else %>
      <h3 class="text-center"><%= pluralize(@races_to_display.count, 'course') %> correspondant à votre objectif <%= @regions_full_name[params[:region]] %>.</h3>
      <% @races_to_display.each do |race| %>
        <%= link_to race_objectives_path(race), "data-toggle" => "modal", 'data-target' => "#raceModal-#{race.id}"  do %>
          <div class="col-xs-12 col-sm-3">
            <%= render partial: "shared/cards", locals: {race: race} %>
          </div>
        <% end %>
        <%= render partial: "shared/modal", locals: {race: race} %>
      <% end %>
    <% end %>
  </div>
</div>



