<div class="container">
  <div class="row text-center">
      <h2>All races</h2>
    </div>
    <div class="row">
      <% @races.each do |race| %>
        <%= link_to root_path  do %>
          <div class="col-xs-12 col-sm-4">
            <div class="card-race-results card-race-results-<%=race.distance%>">
              <div class="card-race-results-detail card-race-results-detail-<%=race.distance%>">
                <h3><%=race.event_name  %></h3>
                <h4><%=race.name%></h4>
              </div>
              <p><%=race.distance%> m</p>
              <div class="overlay overlay-<%=race.distance%>">

              <div class="text">
                <p>Select this race</p>
                <p style="font-size: 40px"><i class="far fa-hand-point-up"></i></p>
              </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
  </div>
</div>



