<div class="container">
  <div class="row text-center">
      <h2>All races</h2>
    </div>
    <div class="row">
      <% @races.each do |race| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card-race-results card-race-results-<%=race.distance%>">
            <div class="card-race-results-detail card-race-results-detail-<%=race.distance%>">
              <h3><%=race.event_name  %></h3>
              <h4><%=race.name%></h4>
            </div>
            <p><%=race.distance%> m</p>
          </div>
        </div>
      <% end %>
  </div>
</div>



