<div class="main-container">
  <div class="card-container">
    <div class="row text-center">
      <h2>My objectives</h2>
    </div>
    <div class="row">
      <% @objectives.each do |objective| %>
        <div class="col-xs-12 col-sm-4">
          <%= link_to '#' do %>
            <div class="card">
              <div class="card-category"><%= objective.kind%></div>
              <div class="card-description">
                <h2><%= objective.duration %> Hours </h2>
                <h5><%= objective.distance %> Meters </h5>
                <p><strong><%= objective.status %></strong></p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
