<div class="dash-flexbox dash-card">
  <div class="dash-date-card">
    <div class="dash-date">
      <p><%= run.race.date.strftime('%d/%m/%Y') %></p>
    </div>
    <div class="dash-content">
      <% if run.race.date < Date.today %>
        <% if run.status == 'finished' %>
          <%= image_tag "chronometer.svg", height: '45px' %>
          <p class='card-title'><%= Time.at(run.final_time).utc.strftime("%Hh %Mmin %Ss") %></p>
        <% else %>
          <%= link_to mark_as_finished_run_path(run), "data-toggle" => "modal", 'data-target' => "#runModal-#{run.id}"  do %>
            <p class='card-title'>ajouter mon temps</p>
          <% end %>
        <% end %>
      <% else %>
        <% if run.status == 'pending_subscription' %>
          <p class='card-title'>dossard acheté ?</p>
          <div>
            <%= link_to subscribe_run_path(run), method: :patch do  %>
              <i class="far fa-check-circle"></i>
            <% end %>
            <i class="far fa-times-circle"></i>
          </div>
        <% elsif run.status == 'subscribed' %>
          <p class='card-title'>inscrit !</p>
          <p><strong><%= (run.race.date - Date.today).to_i %></strong>  jours avant la course</p>
        <% end %>


      <% end %>
    </div>
  </div>
  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
      <div class="front">
        <div class="dash-card-race">
          <div class="dash-card-race-detail">
            <h3><%=run.race.event_name  %></h3>
          </div>
          <p><%=Race::DISTANCES[run.race.distance.to_s]%></p>
          <% unless run.targeted_time.nil? %>
          <h5><i class="fas fa-bullseye"></i> <%= Time.at(run.targeted_time).utc.strftime("%Hh %Mmin") %></h5>
          <% end %>
        </div>
      </div>
      <div class="back">
        <div class="dash-card-back">
          <% if run.race.url %>
            <%= link_to run.race.url, target: "_blank" do  %>
              <p><i class="fas fa-eye"></i></p>
              <p>Plus d'infos</p>
            <% end %>
          <% end %>
          <br>
          <%= link_to edit_run_path(run) do  %>
            <p><i class="fas fa-exchange-alt"></i></p>
            <p>Changer de course</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
