<div class="modal fade" id="runModal-<%= run.id %>">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content modal-content-er">
      <div class="modal-body modal-body-er">
        <h5 class="modal-title"> Quel est votre temps à l'arrivée ?</h5>
        <%= simple_form_for run, :url => mark_as_finished_run_path(run),wrapper: :inline_form, html: { class: 'form-inline text-center' }, :method => :patch do |f| %>
            <%= f.input :final_hours, :input_html => { :type => "number", :style => 'width: 120px' }, label: false, placeholder: 'heures' %>
            <%= f.input :final_minutes, :input_html => { :type => "number", :style => 'width: 120px' }, label: false, placeholder: 'minutes' %>
            <%= f.input :final_seconds, :input_html => { :type => "number", :style => 'width: 120px' }, label: false, placeholder: 'secondes' %>
            <h5></h5>
            <div class="modal-footer">
              <%= f.button :submit, 'Enregister', class: 'btn btn-primary btn-primary-er' %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
