<div class="navbar-wagon  <%= "navbar-wagon-home" if @is_home %> <%= "navbar-wagon-quiz" if @is_quiz %>">
  <!-- Logo -->


  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand logo-navbar" do %>
    <%#= image_tag "logo.png", height: 30 unless @is_home%>
    <%= "EASY RUN" unless @is_home %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Links when logged in -->
      <% if  @is_home %>
        <% unless current_user.current_objective.nil? %>
          <%= link_to "Courses", objective_runs_path(current_user.current_objective) , class: "navbar-wagon-item navbar-wagon-link navbar-white-link" %>
          <%= link_to "Entrainements", training_path, class: "navbar-wagon-item navbar-wagon-link navbar-white-link" %>
        <% else %>
          <%= link_to "Bienvenue !", "#", class: "navbar-wagon-item navbar-wagon-link navbar-white-link" %>
        <% end %>
      <% else %>
        <% unless current_user.current_objective.nil? %>
          <%= link_to "Courses", objective_runs_path(current_user.current_objective) , class: "navbar-wagon-item navbar-wagon-link" %>
          <%= link_to "Entrainements", training_path, class: "navbar-wagon-item navbar-wagon-link" %>
        <% else %>
          <%= link_to "Bienvenue !", root_path, class: "navbar-wagon-item navbar-wagon-link" %>
        <% end %>
      <% end %>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= image_tag "user.png", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to profile_path do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profil") %>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-cog"></i>  <%= t(".settings", default: "Paramètres") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Déconnexion") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>

      <!-- Login link (when logged out) -->
      <% if  @is_home %>
        <%= link_to t(".sign_in", default: "connexion"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link navbar-white-link" %>
        <%= link_to t(".sign_in", default: "inscription"), new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link navbar-white-link" %>
      <% else %>
        <%= link_to t(".sign_in", default: "connexion"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
        <%= link_to t(".sign_in", default: "inscription"), new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <% end %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">TO DO</a></li>
        <li><a href="#">TO DO</a></li>
        <li><a href="#">TO DO</a></li>
      </ul>
    </div>
  </div>
</div>

