<%= render 'shared/banner' %>

  <div class="main-container">
    <div class="card-container">
      <div class="row text-center">
        <div class="row">
          <div class="col-xs-12">
            <section id="one" class="wrapper style1 special">
              <div class="inner">
                <header class="major">
                  <h2>Avec Easy Run vous avez la possibilité d'évoluer suivant vos besoins</h2>
                  <p>Easy Run vous propose de rechercher les courses faîtes pour vous, suivant votre niveau, et de vous y préparer avec un programme adapté.</p>
                </header>
                  <ul class="icons list-inline">
                  <li><%= image_tag "running.svg", alt: "first" %><h4 class="label_color">Courez</h4></li>
                  <li><%= image_tag "chronometer.svg", alt: "second" %><h4 class="label_color">Progressez</h4></li>
                  <li><%= image_tag "winner.svg", alt: "third" %><h4 class="label_color">Atteignez vos objectifs</h4></li>
                  </ul>
              </div>
            </section>
            <section id="two" class="wrapper alt style2">
              <section class="spotlight">
                <div class="image ellipse3"><%= image_tag "marathon_home1.jpg", alt: "first picture" %></div><div class="content">
                <h2>Trouvez votre course facilement</h2>
                <p> Vous êtes libre de trouver la course adaptée à vos besoins. Nous vous proposons toutes les courses officielles en France, avec notre moteur de recherche vous pouvez sélectionner et vous inscrire à une course désirée en un click.</p>
                </div>
              </section>
               <!-- <div class="flex-item"> -->
              <!-- <div class="wrapper_color"> -->
              <section class="spotlight">
                <div class="image ellipse2"><%= image_tag "nyc-marathon-crowd.jpg", alt: "second picture" %></div><div class="content">
                <h2>Soyez prêt !</h2>
                <p> Préparer votre course avec nos plans d'entraînement conçus par des coachs professionnels de la Fédération Française d'Athlétisme. En 18 semaines notre programme vous apporte toutes les clés nécessaires pour réussir votre marathon.</p>
                </div>
             <!--  </div> -->
              </section>
              <section class="spotlight">
                <div class="image ellipse3"><%= image_tag "marathon_home4.jpg", alt: "third picture" %></div><div class="content">
                <p>Je viens juste de finir ma première course de 5 km, merci Easy Run. J'ai hâte de démarrer le programme de 10km !</p>
                <div class="comment"><p>Sarah Adan / <strong>Digital Manager</strong></p></div>
                </div>
              </section>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>






<!-- display: flex;
    align-items: center;
    flex-direction: column; -->
