<div class = "banner_index_switch" style="background-image: linear-gradient(to right, rgba(10, 207, 254, 0.7) 0%, rgba(73, 90, 255, 0.7) 100%), url(<%= image_path 'home-run.jpg'%>);">
  <div class="dash-flexbox dash-flex-column text-center">
      <h1 style="color: white">Changez de course</h1>
     <!--  <%#= form_tag races_path, class: "form-inline", method: :get do %>
        <div class="form-group">
          <%#= select_tag "department", options_for_select(@departments_options), prompt: 'filtrez par département', class: "form-control"%>
        </div>
        <div class="form-group">
          <%#= submit_tag "RUN", :class => "btn btn-primary btn-primary-er" %>
        </div>
        <%#end%> -->
  </div>
</div>
<div class="container race-results">
  <div class="row ">

    <% @switch_runs.each do |race| %>
    <div class="col-xs-12 col-sm-3">
      <%= form_for @run, method: :patch do |f| %>
        <%= f.hidden_field :race, value: race.id %>
        <%= f.button :submit, class: 'switch-runs' do %>

            <div class="flexbox-center">
              <div class="card-race-results card-race-results-<%=race.distance%>">
                <div class="card-race-results-detail card-race-results-detail-<%=race.distance%>">
                  <h3><%=race.event_name %></h3>

                </div>
                <p>
                  <% if Race::DISTANCES[race.distance.to_s].nil?  %>
                    <%= race.distance.to_s %> m
                  <% end %>
                    <%=Race::DISTANCES[race.distance.to_s]%>
                </p>
                <% if Race::DEPARTMENTS.key(race.department).nil? %>
                  <h5><i class="fas fa-map-marker-alt"></i> -- </h5>
                <% else %>
                  <h5><i class="fas fa-map-marker-alt"></i> <%= Race::DEPARTMENTS.key(race.department)[5..Race::DEPARTMENTS.key(race.department).length] %></h5>
                <% end %>
                <div class="overlay overlay-<%=race.distance%>">
                  <div class="card-hover-text">
                    <p>Choisir cette course</p>
                    <p><i class="far fa-hand-point-up"></i></p>
                    <p> + de details</p>
                  </div>
                </div>
              </div>
              <div class="card-date-result card-date-results-<%=race.distance%>">
                <div>
                  <h4 class="date-details"><%=race.date.strftime('%d/%m/%Y')%></h4>
                </div>
              </div>
            </div>

        <% end %>
      <% end %>
      </div>
    <% end %>

  </div>
</div>



