<div class="dash-flexbox">
  <div class="dash-flexbox dash-races dash-flex-column">
    <div class="dash-title">
      <h1><span class="dash-percent">Mes courses</span></h1>
      <div class="add-race">
      <%= link_to "+ Ajouter une course", new_objective_run_path(@objective), class: "btn btn-primary btn-primary-er" %>
      </div>
    </div>
    <div class="dash-flexbox">
      <div>
        <div class="timeline-bar">
        </div>
      </div>
      <div class="dash-cards dash-flexbox dash-flex-column">
          <% @runs.each do |run| %>
            <%= render partial: "shared/dashboardcards", locals: {run: run} %>
            <!-- Modal -->
            <%= render partial: "shared/modaltime", locals: {run: run} %>
          <%end %>
      </div>
    </div>

  </div>
  <div class="dash-flexbox dash-trainings dash-flex-column">
    <% if current_user.trainings.last.nil? || current_user.trainings.last.status == 'finished'%>
    <div class="training-nil">
      <div class="dash-title">
        <h1><span class="dash-percent">Mes entrainements</span></h1>
        <div class="training-nil-text text text-center">
        <p>Pour une accéder à votre planning d'entrainement vous pouvez valider vos courses.</p>
        </div>
      </div>
      <%= link_to training_path, method: :post  do %>
        <div class="btn btn-primary btn-primary-er btn-runs-valid">
          VALIDER MES COURSES
        </div>
      <% end %>
    </div>
    <% else %>
      <div class="dash-title">
        <h1><span class="dash-percent">Mes entrainements</span></h1>
      </div>
      <div>
        <div class="load-bar-back-hor">
            <div id="load-bar-hor" class="load-bar-front-hor" style="width: <%= (@week - 1) * 5.5%>%;"></div>
        </div>
      </div>
      <h3 class="week-number text-center">
      <% if @prev_week %>
        <%= link_to objective_runs_path(@objective, week: @prev_week), class: 'week-navigator' do%>
          <i class="fas fa-arrow-left"></i>
        <% end %>
      <% end %>
       Semaine <%= @week %> / 18 - Du <%= (current_user.trainings.last.begin_date + 7 * (@week)).strftime('%d/%m/%Y') %> au <%= (current_user.trainings.last.begin_date + 7 * (@week) + 6).strftime('%d/%m/%Y') %>
      <% if @next_week %>
        <%= link_to objective_runs_path(@objective, week: @next_week), class: 'week-navigator' do %>
            <i class="fas fa-arrow-right"></i>
        <% end %>
      <% end %>
      </h3>
      <% if @week > 18  %>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <% @training_plan.training_sessions.order(:position).each_slice(3).to_a.last.each_with_index do |training_session, index| %>
              <%= render partial: "shared/trainingsessioncards", locals: {training_session: training_session, index: index} %>
          <% end %>
        </div>

        <% elsif @week <= 18 && @week >= 0 %>
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <% @training_plan.training_sessions.order(:position).each_slice(3).to_a[@week - 1].each_with_index do |training_session, index| %>
              <%= render partial: "shared/trainingsessioncards", locals: {training_session: training_session, index: index} %>
            <% end %>
          </div>
        <% else %>
          <h2>Félicitations vous avez rempli votre objectif avec succès!</h2>
        <% end %>
  <% end %>
</div>
