<div class="dash-flexbox">
  <div class="dash-flexbox dash-races dash-flex-column">
    <div class="dash-title">
      <h1><span class="dash-percent">25%</span> de vos <span class="dash-span">COURSES</span></h1>
    </div>
    <div class="dash-flexbox">
      <div>
        <div class="load-bar-back">
          <div id="load-bar" class="load-bar-front"></div>
        </div>
      </div>
      <div class="dash-cards dash-flexbox dash-flex-column">
          <% @runs.each do |run| %>
            <div class="dash-flexbox dash-card">
              <div class="dash-date-card">
                <div class="dash-date">
                  <p><%= run.race.date.strftime('%d/%m/%Y') %></p>
                </div>
                <div class="dash-content">
                  <% if run.race.date < Date.today %>
                    <% if run.status == 'finished' %>
                      <%= image_tag "chronometer.svg", height: '45px' %>
                      <p class='card-title'><%= Time.at(run.final_time).utc.strftime("%Hh %Mmin %Ss") %></p>
                    <% else %>
                      <%= link_to mark_as_finished_run_path(run), "data-toggle" => "modal", 'data-target' => "#runModal-#{run.id}"  do %>
                        <p class='card-title'>ajouter mon temps</p>
                      <% end %>
                    <% end %>
                  <% else %>
                    <% if run.status == 'pending_subscription' %>
                      <p class='card-title'>dossard acheté ?</p>
                      <div>
                        <%= link_to subscribe_run_path(run), method: :patch do  %>
                          <i class="far fa-check-circle"></i>
                        <% end %>
                        <i class="far fa-times-circle"></i>
                      </div>
                    <% elsif run.status == 'subscribed' %>
                      <p class='card-title'>inscrit !</p>
                      <p><strong><%= (run.race.date - Date.today).to_i %></strong>  jours avant la course</p>
                    <% end %>


                  <% end %>
                </div>
              </div>
              <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                <div class="flipper">
                  <div class="front">
                    <div class="dash-card-race">
                      <div class="dash-card-race-detail">
                        <h3><%=run.race.event_name  %></h3>
                      </div>
                      <p><%=Race::DISTANCES[run.race.distance.to_s]%></p>
                      <% unless run.targeted_time.nil? %>
                      <h5><i class="fas fa-bullseye"></i> <%= Time.at(run.targeted_time).utc.strftime("%Hh %Mmin") %></h5>
                      <% end %>
                    </div>
                  </div>
                  <div class="back">
                    <div class="dash-card-back">
                      <%= link_to run.race.url, target: "_blank" do  %>
                        <p><i class="fas fa-eye"></i></p>
                        <p>Plus d'infos</p>
                      <% end %>
                      <br>
                      <%= link_to edit_run_path(run) do  %>
                        <p><i class="fas fa-exchange-alt"></i></p>
                        <p>Changer de course</p>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="runModal-<%= run.id %>">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content modal-content-er">
                  <div class="modal-body modal-body-er">
                    <h5 class="modal-title"> Quel est votre temps à l'arrivée ?</h5>
                    <%= simple_form_for run, :url => mark_as_finished_run_path(run),wrapper: :inline_form, html: { class: 'form-inline text-center' }, :method => :patch do |f| %>
                        <%= f.input :final_hours, :input_html => { :type => "number", :style => 'width: 120px' }, label: false, placeholder: 'heures' %>
                        <%= f.input :final_minutes, :input_html => { :type => "number", :style => 'width: 120px' }, label: false, placeholder: 'minutes' %>
                        <%= f.input :final_seconds, :input_html => { :type => "number", :style => 'width: 120px' }, label: false, placeholder: 'secondes' %>
                        <h5></h5>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary-er" data-dismiss="modal">Fermer</button>
                          <%= f.button :submit, 'Enregister', class: 'btn btn-primary btn-primary-er' %>
                        </div>
                      <% end %>
                  </div>
                </div>
              </div>
            </div>
          <%end %>
      </div>
    </div>
    <div class="add-race">
      <%= link_to "+ Ajouter une course", new_objective_run_path(@objective) %>
    </div>
  </div>
  <div class="dash-flexbox dash-trainings dash-flex-column">
    <% if current_user.trainings.last.nil? %>
      <div class="dash-title">
        <h1><span class="dash-percent">ICI</span> les <span class="dash-span">ENTRAINEMENTS</span> de la <span class="dash-span">SEMAINE</span></h1>
      </div>
        <%= link_to training_path, method: :post  do %>
      <div class="dash-training-card dash-flexbox add_training_plan">
        <div class="dash-training-image add"><%= image_tag 'add', height: '100%', width: '75%' %></div>
        <div class="dash-training-desc">
          <h2>PLAN D'ENTRAINEMENT</h1>
          <hr>
          <p>En ajoutant un plan d'entrainement à votre profil vous profiterez d'un accompagnement complet dans la réalisation de vos objectifs.</p>
        </div>
      </div>
      <% end %>
      <% else %>
      <div class="dash-title">
        <h1><span class="dash-percent">3</span> <span class="dash-span">ENTRAINEMENTS</span> de la <span class="dash-span">SEMAINE</span></h1>
      </div>
      <div>
          <div class="load-bar-back-hor">
            <div id="load-bar-hor" class="load-bar-front-hor"></div>
          </div>
        </div>
      <div class="dash-training-card dash-flexbox">
        <div class="dash-training-image" style="background-image: linear-gradient(to right, rgba(10, 207, 254, 0.7) 0%, rgba(73, 90, 255, 0.7) 100%), url(<%= image_path 'run-fast.jpg'%>);"></div>
        <div class="dash-training-desc">
          <h2>ENDURANCE - <strong>10km</strong></h1>
          <hr>
          <p>En parcourant cette distance régulièrement, vous préparerez votre corps et votre esprit à aller au bout du marathon.</p>
        </div>
      </div>
      <div class="dash-training-card dash-flexbox">
        <div class="dash-training-image" style="background-image: linear-gradient(to right, rgba(10, 207, 254, 0.7) 0%, rgba(73, 90, 255, 0.7) 100%), url(<%= image_path 'run-far.jpg'%>);"></div>
        <div class="dash-training-desc">
          <h2>ENDURANCE - <strong>10km</strong></h1>
          <hr>
          <p>En parcourant cette distance régulièrement, vous préparerez votre corps et votre esprit à aller au bout du marathon.</p>
        </div>
      </div>
      <div class="dash-training-card dash-flexbox">
        <div class="dash-training-image" style="background-image: linear-gradient(to right, rgba(10, 207, 254, 0.7) 0%, rgba(73, 90, 255, 0.7) 100%), url(<%= image_path 'run-fast.jpg'%>);"></div>
        <div class="dash-training-desc">
          <h2>ENDURANCE - <strong>10km</strong></h1>
          <hr>
          <p>En parcourant cette distance régulièrement, vous préparerez votre corps et votre esprit à aller au bout du marathon.</p>
        </div>
      </div>
    <% end %>
  </div>
</div>
