<div class="dash-flexbox">
  <div class="dash-flexbox dash-races dash-flex-column">
    <div class="dash-title">
      <h1><span class="dash-percent">Mes courses</span></h1>
      <div class="add-race">
      <%= link_to "+ Ajouter une course", new_objective_run_path(@objective), class: "btn btn-primary btn-primary-er" %>
      </div>
    </div>
    <div class="dash-flexbox">
      <div>
        <div class="timeline-bar">
        </div>
      </div>
      <div class="dash-cards dash-flexbox dash-flex-column">
          <% @runs.each do |run| %>
            <div class="dash-flexbox dash-card">
              <div class="dash-date-card">
                <div class="dash-date">
                  <p><%= run.race.date.strftime('%d/%m/%Y') %></p>
                </div>
                <div class="dash-content">
                  <% if run.race.date < Date.today %>
                    <% if run.status == 'finished' %>
                      <%= image_tag "chronometer.svg", height: '45px' %>
                      <p class='card-title'><%= Time.at(run.final_time).utc.strftime("%Hh %Mmin %Ss") %></p>
                    <% else %>
                      <%= link_to mark_as_finished_run_path(run), "data-toggle" => "modal", 'data-target' => "#runModal-#{run.id}"  do %>
                        <p class='card-title'>ajouter mon temps</p>
                      <% end %>
                    <% end %>
                  <% else %>
                    <% if run.status == 'pending_subscription' %>
                      <p class='card-title'>dossard acheté ?</p>
                      <div>
                        <%= link_to subscribe_run_path(run), method: :patch do  %>
                          <i class="far fa-check-circle"></i>
                        <% end %>
                        <i class="far fa-times-circle"></i>
                      </div>
                    <% elsif run.status == 'subscribed' %>
                      <p class='card-title'>inscrit !</p>
                      <p><strong><%= (run.race.date - Date.today).to_i %></strong>  jours avant la course</p>
                    <% end %>


                  <% end %>
                </div>
              </div>
              <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                <div class="flipper">
                  <div class="front">
                    <div class="dash-card-race">
                      <div class="dash-card-race-detail">
                        <h3><%=run.race.event_name  %></h3>
                      </div>
                      <p><%=Race::DISTANCES[run.race.distance.to_s]%></p>
                      <% unless run.targeted_time.nil? %>
                      <h5><i class="fas fa-bullseye"></i> <%= Time.at(run.targeted_time).utc.strftime("%Hh %Mmin") %></h5>
                      <% end %>
                    </div>
                  </div>
                  <div class="back">
                    <div class="dash-card-back">
                      <%= link_to run.race.url, target: "_blank" do  %>
                        <p><i class="fas fa-eye"></i></p>
                        <p>Plus d'infos</p>
                      <% end %>
                      <br>
                      <%= link_to edit_run_path(run) do  %>
                        <p><i class="fas fa-exchange-alt"></i></p>
                        <p>Changer de course</p>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="runModal-<%= run.id %>">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content modal-content-er">
                  <div class="modal-body modal-body-er">
                    <h5 class="modal-title"> Quel est votre temps à l'arrivée ?</h5>
                    <%= simple_form_for run, :url => mark_as_finished_run_path(run),wrapper: :inline_form, html: { class: 'form-inline text-center' }, :method => :patch do |f| %>
                        <%= f.input :final_hours, :input_html => { :type => "number", :style => 'width: 120px' }, label: false, placeholder: 'heures' %>
                        <%= f.input :final_minutes, :input_html => { :type => "number", :style => 'width: 120px' }, label: false, placeholder: 'minutes' %>
                        <%= f.input :final_seconds, :input_html => { :type => "number", :style => 'width: 120px' }, label: false, placeholder: 'secondes' %>
                        <h5></h5>
                        <div class="modal-footer">
                          <%= f.button :submit, 'Enregister', class: 'btn btn-primary btn-primary-er' %>
                        </div>
                      <% end %>
                  </div>
                </div>
              </div>
            </div>
          <%end %>
      </div>
    </div>

  </div>
  <div class="dash-flexbox dash-trainings dash-flex-column">
    <% if current_user.trainings.last.nil? || current_user.trainings.last.status == 'finished'%>
    <div class="training-nil">
      <div class="dash-title">
        <h1><span class="dash-percent">Mes entrainements</span></h1>
        <div class="training-nil-text text text-center">
        <p>Pour une accéder à votre planning d'entrainement vous pouvez valider vos courses.</p>
        </div>
      </div>
      <%= link_to training_path, method: :post  do %>
        <div class="btn btn-primary btn-primary-er btn-runs-valid">
          VALIDER MES COURSES
        </div>
      <% end %>
    </div>
    <% else %>
      <div class="dash-title">
        <h1><span class="dash-percent">Mes entrainements</span></h1>
      </div>
      <div>
        <div class="load-bar-back-hor">
          <% if @week > 18  %>
            <div id="load-bar-hor" class="load-bar-front-hor" style="width:  0%;"></div>
          <% elsif  @week <= 18 && @week >= 0 %>
            <div id="load-bar-hor" class="load-bar-front-hor" style="width: <%= @week * 5.5%>%;"></div>
          <% else%>
            <div id="load-bar-hor" class="load-bar-front-hor" style="width: 0%;"></div>
          <% end %>
        </div>
      </div>
      <h3 class="week-number">
      <% if @prev_week %>
        <%= link_to objective_runs_path(@objective, week: @prev_week), class: 'week-navigator' do%>
          <i class="fas fa-arrow-left"></i>
        <% end %>
      <% end %>
       Semaine <%= @week %> / 18 - Du <%= (current_user.trainings.last.begin_date + 7 * (@week)).strftime('%d/%m/%Y') %> au <%= (current_user.trainings.last.begin_date + 7 * (@week) + 6).strftime('%d/%m/%Y') %>
      <% if @next_week %>
        <%= link_to objective_runs_path(@objective, week: @next_week), class: 'week-navigator' do %>
            <i class="fas fa-arrow-right"></i>
        <% end %>
      <% end %>
      </h3>
      <% if @week > 18  %>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <% @training_plan.training_sessions.order(:position).each_slice(3).to_a.last.each_with_index do |training_session, index| %>
            <div class="dash-training-card-container">
              <div class="dash-training-card dash-flexbox">
                <% if training_session.kind.include? "Vitesse"  %>
                  <div class="dash-training-image" style="background-image: linear-gradient(to right, rgba(10, 207, 254, 0.7) 0%, rgba(73, 90, 255, 0.7) 100%), url(<%= image_path 'run-fast.jpg'%>);">
                  </div>
                <% else%>
                  <div class="dash-training-image" style="background-image: linear-gradient(to right, rgba(10, 207, 254, 0.7) 0%, rgba(73, 90, 255, 0.7) 100%), url(<%= image_path 'run-far.jpg'%>);">
                  </div>
                <% end %>
                <div class="dash-training-desc">
                  <h2 class="training-title"><%= training_session.kind %> - <strong><%= training_session.subkind %></strong></h2>

                  <p class="training_session_week_index"><strong><%= index + 1 %></strong> /3</p>
                  <h5 class="training_session_position"><strong>SESSION <%= training_session.position %></strong></h5>
                <a role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="session-<%= training_session.id%>" class="btn btn-primary btn-secondary-er btn-details-dash" href="#session-<%= training_session.id%>">

                    <i class="fas fa-plus"></i> de details
                  </a>

                </div>
              </div>

              <div id="session-<%= training_session.id%>" class="panel-collapse collapse out" role="tabpanel" aria-labelledby="headingOne">
                <div class="dash-training-desc dash-training-desc-text" id="session-<%= training_session.id%>">
                  <p><%= simple_format training_session.description %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>

        <% elsif @week <= 18 && @week >= 0 %>
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <% @training_plan.training_sessions.order(:position).each_slice(3).to_a[@week - 1].each_with_index do |training_session, index| %>
              <div class="dash-training-card-container">
                <div class="dash-training-card dash-flexbox">
                  <% if training_session.kind.include? "Vitesse"  %>
                    <div class="dash-training-image" style="background-image: linear-gradient(to right, rgba(10, 207, 254, 0.7) 0%, rgba(73, 90, 255, 0.7) 100%), url(<%= image_path 'run-fast.jpg'%>);">
                    </div>
                  <% else%>
                    <div class="dash-training-image" style="background-image: linear-gradient(to right, rgba(10, 207, 254, 0.7) 0%, rgba(73, 90, 255, 0.7) 100%), url(<%= image_path 'run-far.jpg'%>);">
                    </div>
                  <% end %>
                  <div class="dash-training-desc">
                    <h2 class="training-title"><%= training_session.kind %> - <strong><%= training_session.subkind %></strong></h2>

                    <p class="training_session_week_index"><strong><%= index + 1 %></strong> /3</p>
                    <h5 class="training_session_position"><strong>SESSION <%= training_session.position %></strong></h5>

                    <a role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="session-<%= training_session.id%>" class="btn btn-primary btn-secondary-er btn-details-dash" href="#session-<%= training_session.id%>">
                      <i class="fas fa-plus"></i> de details
                    </a>

                  </div>
                </div>

                <div id="session-<%= training_session.id%>" class="panel-collapse collapse out" role="tabpanel" aria-labelledby="headingOne">
                  <div class="dash-training-desc dash-training-desc-text" id="session-<%= training_session.id%>">
                    <p><%= simple_format training_session.description %></p>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% else %>
          <h2>Félicitations vous avez rempli votre objectif avec succès!</h2>
        <% end %>
  <% end %>
</div>
