<div class="container">
  <div class="card-container">
    <div class="row text-center">
      <h2>Vos courses</h2>
    </div>
    <div class="row">
      <% @runs.each do |run| %>
        <div class="col-xs-12 col-sm-3">
          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
              <div class="front">
                <!-- front content -->
                <div class="card-race card-race-<%=run.race.distance%>">
                  <div class="card-race-detail card-race-detail-<%=run.race.distance%>">
                    <h3><%=run.race.event_name  %></h3>
                    <h4><%=run.race.name%></h4>
                  </div>
                  <p><%=run.race.distance%></p>
                </div>
              </div>
              <div class="back">
                <!-- back content -->
                <div class="card-back card-back-<%=run.race.distance%>">
                  <%= link_to 'http://www.runinmarseille.com/fr/infos-pratiques/parcours-et-profils', target: "_blank" do  %>
                    <p><i class="fas fa-eye"></i></p>
                    <p>See race details</p>
                  <% end %>
                  <%= link_to "" do  %>
                    <p><i class="fas fa-exchange-alt"></i></p>
                    <p>Switch race</p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <%end %>

    </div>
    <div class="timeline">

    </div>
    <div class="row">
      <% @runs.each do |run| %>
        <div class="col-xs-12 col-sm-3">
          <div class="card-date">
              <h4><%=run.race.date%></h4>
          </div>
        </div>
      <%end %>

    </div>
  </div>
</div>
