<div class = "banner_index_races" style="background-image: linear-gradient(to right, rgba(10, 207, 254, 0.7) 0%, rgba(73, 90, 255, 0.7) 100%), url(<%= image_path 'home-run.jpg'%>);">
  <div class="dash-flexbox dash-flex-column text-center">
      <%= form_tag new_objective_run_path, method: :get do %>
        <div class="form-group">
          <h2 style="color: white">Choisissez un département</h2>
          <%= select_tag "department", options_for_select(@departments_options), class: "form-control", prompt: '-'%>
        </div>
        <div class="form-group">
            <div class="form-group">
              <h2 style="color: white">Choisissez une distance</h2>
              <%= select_tag "distance", options_for_select(@distances_options), class: "form-control", prompt: '-'%>
            </div>
          <%= submit_tag "TROUVER UNE COURSE", :class => "btn btn-primary btn-primary-er" %>
        </div>
        <%end%>
  </div>
</div>
<div class="container race-results">
  <div class="row">
    <% unless params[:department].nil? && params[:distance].nil? %>

      <% races_to_display = @races.where(department: params[:department].to_i).where(distance: params[:distance].to_i) %>

      <% if races_to_display.count.zero? %>
        <h3 style="color: #376996; margin-bottom: 400px" class="text-center">Il n'y a pas de course correspondant à votre recherche</h3>
      <% else %>
        <% races_to_display.each do |race| %>
          <%= link_to race_runs_path(race), method: :post  do %>
            <div class="col-xs-12 col-sm-3">
              <div class="flexbox-center">
                <div class="card-race-results card-race-results-<%=race.distance%>">
                  <div class="card-race-results-detail card-race-results-detail-<%=race.distance%>">
                    <h3><%=race.event_name %></h3>
                  </div>
                  <p><%=Race::DISTANCES[race.distance.to_s]%></p>
                  <% if Race::DEPARTMENTS.key(race.department).nil? %>
                  <h5><i class="fas fa-map-marker-alt"></i> -- </h5>
                  <% else %>
                  <h5><i class="fas fa-map-marker-alt"></i> <%= Race::DEPARTMENTS.key(race.department)[5..Race::DEPARTMENTS.key(race.department).length] %></h5>
                  <% end %>
                  <div class="overlay overlay-<%=race.distance%>">
                    <div class="card-hover-text">
                      <p>Choisir cette course</p>
                      <p><i class="far fa-hand-point-up"></i></p>
                      <p> + de details</p>
                    </div>
                  </div>
                </div>
                <div class="card-date-result card-date-results-<%=race.distance%>">
                  <div>
                    <h4 class="date-details"><%=race.date.strftime('%d/%m/%Y')%></h4>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
